@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "League Spartan";
  src: url("/src/assets/fonts/LeagueSpartan-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root,
  :host,
  html,
  body {
    --default-font-family: "League Spartan", sans-serif; /* Override the variable */
    font-family: "League Spartan", sans-serif; /* Direct fallback */
  }
}

@theme {
  --text-xs: 0.8125rem;
  --text-base: 0.9375rem;
}

@layer utilities {
  html:has(dialog[open]),
  body:has(dialog[open]) {
    @apply overflow-hidden;
  }
}

:root {
  --A01: #7c5dfa;
  --deep-black: #0c0e16;
  --blue-gray: #888eb0;
  --blue-white: #f8f8fb;
  --dark-purple: #252945;
  --A03: #1e2139;
  --A04: #252945;
  --purple: #7c5dfa;
  --A05: #dfe3fa;
  --A07: #7e88c3;
  --A06: #888eb0;
  --A08: #0c0e16;
  --green: #33d69f;
  --red: #ec5757;
  --pale-red: #ff9797;
  --light-green: #0dd6a014;
  --orange: #ff8f00;
  --light-orange: #ff91001a;
  --grey-black: #373b53;
  --light-grey-black: #373b530f;
  --purple-black: #1e2139;
  --light-purple-black: #252945;
}
